# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
**/node_modules/
**/jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output / Built directories
**/dist/
**/out/
**/dist-electron/
**/.vite/

# Android specific
**/.gradle/
**/build/
**/local.properties
**/.idea/
**/*.apk
**/*.ids
**/*.bin
**/*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Operating System Files
.DS_Store
Thumbs.db
